body {
  font-family: "Roboto",
    sans-serif;
  letter-spacing: 0.03em;
  background-color: var(--white-background-color);
  color: var(--primary-text-color);
}

/* сктдання відступів */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

/* налаштування кнопки */
button {
  cursor: pointer;
  border: transparent
}

/* налаштування картинок */
img {
  display: block;
}

/* прибираю крапки листів */
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* прибираю підкреслювання */
.link {
  text-decoration: none;
}

