:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --white-text-color: #ffffff;
  --accent-color: #2196f3;


  --white-background-color: #ffffff;
  --cap-background-color: #2f303a;
  --team-background-color: #f5f4fa;
  --accent-background-color: #2196f3;
}

  $primary-text-color: #212121;
  $secondary-text-color: #757575;
  $white-text-color: #ffffff;
  $accent-color: #2196f3;


  $white-background-color: #ffffff;
  $cap-background-color: #2f303a;
  $team-background-color: #f5f4fa;
  $accent-background-color: #2196f3;

  $width:100%